{% load static %}
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Тестовый образец</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static './css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static './css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static './css/simple-line-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
	<!-- Style -->
	<link rel="stylesheet" href="{% static './css/style.css' %}">
	<script src="{% static './js/modernizr-2.6.2.min.js' %}" ></script>
	</head>
	<body>
	<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="index.html"><span>Тестовый</span> образец</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'catalogue:full_catalogue' %}" ><span>Католог</span></a></li>
						<li><a href="{% url 'catalogue:documents' %}" ><span>Документы</span></a></li>
						<li><a href="{% url 'core:about_company' %}" ><span>О компании</span></a></li>
						<li><a href="{% url 'core:how_to_order' %}" ><span>Как заказать</span></a></li>
						<li><a href="{% url 'core:contacts' %}" ><span>Контакты</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>

	<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_3.jpg); height: 300px;" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2" style="margin-bottom: 500px;">
							<h1 class="to-animate">Официальный дилер продукции () в России </h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-explore" data-section="explore" >
		<div class="container" style="margin: auto; height: auto; margin-bottom: 5%; ">
			<!-- <div class="row"> -->
				<div class="col-md-8 col-md-pull-1 to-animate-3">
					<a style=""> <img width="250px" height="250px" src="{{ product.image.url }}">
				</div>
				<div class="col-md-4 to-animate-3">
					{% if product.image %}						
							{% endif %}
							<h2 class="pricing-plan">{{ product.title }}</h2>
							<div class="price"><small>{{ product.price }}</small></div>
							<p>{{ product.description }}</p>
							{% if product.characteristic %}
							<h4>Характеристики</h4>
							<p>{{ product.characteristic }}</p>
							{% endif %}
						 	<hr>
							 {% if product.options %}
							 <h4>Параметры</h4>
							 <p>{{ product.options }}</p>
							 {% endif %}
							<hr>
							{% if product.document %}
							<a href="{{ product.document.url }}">Подробнее о товаре</a>
							{% endif %}
							{% if product.certificate %}
							<br>
							<hr>
							<a href="{{ product.certificate.url }}">Сертификат</a>
							{% endif %}
							<hr>
							<a style="font-size: 11pt;" href="#" class="btn btn-select-plan btn-sm">Заказать</a>
				</div>
			<!-- </div> -->
		</div>
		<!-- <div class="fh5co-explore">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-push-5 to-animate-2">
						<img class="img-responsive" src="{% static './images/work_1.png' %}" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 to-animate-2">
						<div class="mt">
							<h3>Real Project For Real Solutions</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. </p>
							<ul class="list-nav">
								<li><i class="icon-check2"></i>Far far away, behind the word</li>
								<li><i class="icon-check2"></i>There live the blind texts</li>
								<li><i class="icon-check2"></i>Separated they live in bookmarksgrove</li>
								<li><i class="icon-check2"></i>Semantics a large language ocean</li>
								<li><i class="icon-check2"></i>A small river named Duden</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div> -->

		<!-- <div class="fh5co-explore fh5co-explore-bg-color"  style="height: 700px;">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-pull-1 to-animate-3" style="text-align: center; margin: auto;">
						<h2 style="font-size: 20pt;">Какая либо информация</h2>
						<p style="font-size: 15pt;">Текст заглушка Текст заглушкаТекст заглушка,  Текст заглушка Текст заглушка Текст<br> заглушка Текст заглушка 
							Текст заглушка Текст заглушкаТекст заглушка,Текст заглушка Текст заглушкаТекст заглушка,<br> Текст заглушка Текст заглушкаТекст заглушка,</p>
							<img src="{% static './images/lamb.jpeg' %}"> 
					</div> -->
					<!-- <div class="col-md-4 to-animate-3" style="text-align: justify; margin: auto;">
						<div class="mt">
							<div >
								<h4><i><img width="40px" height="40px" src="{% static './images/garant.png' %}"></i>ГАРАНТИЯ ОТ ПРОИЗВОДИТЕЛЯ</h4>
								<p>Гарантия на все виды изделий и на все товары. </p>
							</div>
							<div>
								<h4><i><img width="40px" height="40px" src="{% static './images/quality.png' %}"></i>ВЫСОКОЕ КАЧЕСТВО ИЗДЕЛИЙ</h4>
								<p>Lifotronic - один из лидеров рынка и мы уверены в их качестве.</p>
							</div>
							<div>
								<h4><i><img width="40px" height="40px" src="{% static './images/price.png' %}"></i>НИЗКИЕ ЦЕНЫ</h4>
								<p>Мы работаем с Lifotronic без посредников.</p>
							</div>
							<div >
								<h4><i><img width="40px" height="40px" src="{% static './images/logist.png' %}"></i>ПОСТАВКА ПОД КЛЮЧ</h4>
								<p>Мы берем на себя весь процесс поставки оборудования.</p>
							</div>
						</div>
					</div> -->
				<!-- </div>
			</div>
		</div>
	</section> -->
	<!-- <section id="fh5co-testimony" data-section="testimony">
		<div class="container">
			<div class="row">
				<div class="col-md-12 to-animate">
					<div class="wrap-testimony">
						<div class="owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person2.jpg" alt="user">
									</figure>
									<blockquote>
										<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
									</blockquote>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person3.jpg" alt="user">
									</figure>
									<blockquote>
										<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
									</blockquote>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person2.jpg" alt="user">
									</figure>
									<blockquote>
										<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
									</blockquote>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="getting-started getting-started-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 to-animate">
					<h3>Getting Started</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>
				<div class="col-md-6 to-animate-2">
					<div class="call-to-action text-right">
						<a href="#" class="sign-up">Sign Up For Free</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section id="fh5co-pricing" data-section="pricing">
		<div class="fh5co-pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Plans Built For Every One</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="pricing">
						<div class="col-md-3">
							<div class="price-box to-animate-2">
								<h2 class="pricing-plan">Starter</h2>
								<div class="price"><sup class="currency">$</sup>9<small>/month</small></div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="price-box to-animate-2">
								<h2 class="pricing-plan">Basic</h2>
								<div class="price"><sup class="currency">$</sup>27<small>/month</small></div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="price-box to-animate-2 popular">
								<h2 class="pricing-plan pricing-plan-offer">Pro <span>Best Offer</span></h2>
								<div class="price"><sup class="currency">$</sup>74<small>/month</small></div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="price-box to-animate-2">
								<h2 class="pricing-plan">Unlimited</h2>
								<div class="price"><sup class="currency">$</sup>140<small>/month</small></div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-3 to-animate">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. <a href="#">Learn More</a></p>
					</div>
				</div>

			</div>
		</div>
	</section> -->
<!-- 
	<section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Наши контакты</h2>
						<div class="row"> -->
							<!-- <div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div> -->
						<!-- </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-services">
							<i><img width="45px" height="45px" src="{% static './images/map.png' %}"></i>
							<div class="fh5co-post to-animate">
								<h3>Где мы находимся</h3>
								<p>129337, Г. МОСКВА,<br>
									ЯРОСЛАВСКОЕ ШОССЕ, Д. 19, СТР. 1,
									ЭТАЖ 5, ПОМ. I, КОМ. 7.,<br>
									EMAIL: MED_MDM@BK.RU</p>
							</div>
						</div>

						<div class="box-services">
							<i><img width="35px" height="35px" src="{% static './images/phone.png' %}"></i>
							<div class="fh5co-post to-animate">
								<h3>ЗВОНИТЕ НАМ
									МЫ ОТВЕТИМ НА ВСЕ ВОПРОСЫ</h3>
								<p>+7(000)000-00-00<br>
									+7(000)00-00-00</p>
							</div>
						</div>
					</div>
					<div class="col-md-4"> -->
						<!-- <div class="box-services">
							<i class="icon-trophy to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>Award-winning Landing Page</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-paper-plane to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>Sleek and Smooth Animation</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
							</div>
						</div> -->
						<!-- <div class="mapouter"><div class="gmap_canvas">
							<iframe width="708" height="494" id="gmap_canvas" src="https://maps.google.com/maps?q=Москва, Балашиха, Бояринова 13&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							<br><style>.mapouter{position:relative;text-align:right;height:494px;width:708px;}</style><a href="https://embedgooglemap.2yu.co">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:494px;width:750px;}</style></div></div>
					</div> -->
					<!-- <div class="col-md-4">
						<div class="box-services">
							<i class="icon-people to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>Satisfied &amp; Happy Clients</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-screen-desktop to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>Looks Amazing on Devices</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
							</div>
						</div>
					</div> -->
				<!-- </div> -->
				<!-- <div class="call-to-action text-center to-animate"><a href="#" class="btn btn-learn">Learn More</a></div> -->
			<!-- </div>
		</div>
	</section>	 -->

	<!-- <section id="fh5co-team" data-section="team">
		<div class="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Meet The Team</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/person4.jpg" alt="Roger Garfield"></div>
							<h3>Roger Garfield</h3>
							<span class="position">Co-Founder, Lead Developer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/person2.jpg" alt="Roger Garfield"></div>
							<h3>Kevin Steve</h3>
							<span class="position">Co-Founder, Product Designer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/person3.jpg" alt="Roger Garfield"></div>
							<h3>Ross Standford</h3>
							<span class="position">Full Stack Developer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-faq" data-section="faq">
		<div class="fh5co-faq">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Common Questions</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Everything you need to know before you get started</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box-faq to-animate-2">
							<h3>What is Union?</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
						<div class="box-faq to-animate-2">
							<h3>I have technical problem, who do I email? </h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
						<div class="box-faq to-animate-2">
							<h3>How do I use Bato features?</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
					</div>

					<div class="col-md-6">
						<div class="box-faq to-animate-2">
							<h3>What language are available?</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
						<div class="box-faq to-animate-2">
							<h3>Can I have a username that is already taken?</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
						<div class="box-faq to-animate-2">
							<h3>Is Union free?</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr>

	<section id="fh5co-trusted" data-section="trusted">
		<div class="fh5co-trusted">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Trusted By</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">We’re trusted by these popular companies</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					 <div class="col-md-2 col-sm-3 col-xs-6 col-sm-offset-0 col-md-offset-1">
					 	<div class="partner-logo to-animate-2">
					 		<img src="images/logo1.png" alt="Partners" class="img-responsive">
					 	</div>
					 </div>
				    <div class="col-md-2 col-sm-3 col-xs-6">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/logo2.png" alt="Partners" class="img-responsive">
						</div>
				    </div>
				    <div class="col-md-2 col-sm-3 col-xs-6">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/logo3.png" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-3 col-xs-6">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/logo4.png" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-12 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/logo5.png" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				</div>
			</div>
		</div>
	</section>

	<div class="getting-started getting-started-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 to-animate">
					<h3>Getting Started</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>
				<div class="col-md-6 to-animate-2">
					<div class="call-to-action text-right">
						<a href="#" class="sign-up">Sign Up For Free</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div id="fh5co-footer" role="contentinfo" style="height: 500px;">
		<div class="container">
			<div class="row">
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Лаборатория</h3>
					<p>Биохимические анализаторы</p>
					<p>Анализаторы гемоглобина (HPLC)</p>
					<p>Реагенты</p>
					<p>Гематологические анализаторы (Ветеринария)</p>
				</div>

				<!-- <div class="col-md-4 to-animate">
					<h3 class="section-title">Our Address</h3>
					<ul class="contact-info">
						<li><i class="icon-map-marker"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
						<li><i class="icon-phone"></i>+ 1235 2355 98</li>
						<li><i class="icon-envelope"></i><a href="#">info@yoursite.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
					<h3 class="section-title">Connect with Us</h3>
					<ul class="social-media">
						<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
						<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
					</ul>
				</div> -->
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Контакты</h3>
					<p>Адрес: 129337, г.Москва,<br>
						Ярославское шоссе, д. 19, стр. 1, этаж 5, пом. I, ком. 7.
						Тел.: +7(495)136-61-18<br>
						E-mail: med_mdm@bk.ru</p>
				</div>
				<div class="col-md-4 to-animate">
					<div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas"
						 src="https://maps.google.com/maps?q=МОсква, балашиха, бояринова 13&t=&z=11&ie=UTF8&iwloc=&output=embed"
						  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						  <a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:400px;}</style>
						  <a href="https://embedgooglemap.2yu.co">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:400px;}</style></div></div>
				</div>

			</div>
		</div>
	</div>

	
	<!-- jQuery -->
	<script src="{% static './js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static './js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static './js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static './js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Owl Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

